fieldset{
    margin: 5%;
    color: azure;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 0px;
}
h1{
text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;  
  color: azure;
}
#detalhes input{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 10px;
    opacity: 0.4;
    color: black;
}

p{
    color: azure;
}
text{
    color: azure;
}

body{
   
        background-image: url("54czLf.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      
}
a{
 color: azure;
 text-decoration:none
}